@import url('https://fonts.cdnfonts.com/css/marhey');
@import url('https://fonts.cdnfonts.com/css/ambit');  
@import url('https://fonts.cdnfonts.com/css/iciel-gotham');

body {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

:root {
  --font-family: 'Poppins';
}