.footer-container {
    background: #B8B8FF;
    /* padding: 10vw 10vw; */
    padding: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    justify-content: space-between;
}

.title-menu {
    display: flex;
    align-items: flex-start;
}

.menu{
    display: flex;
    justify-content: space-evenly;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin-right: 20px;
}


.title {
    font-family: 'Marhey', sans-serif;
    font-size: 25px;
    display: flex;
    padding: 0 0;
}


.products,
.resources {
    font-family: 'Ambit', sans-serif;
}

.copyright {
    font-family: 'Marhey', sans-serif;
    margin-bottom: 1rem;
    justify-content: space-between;
}
.social-icon {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 15px;
}

.menu-ul {
    font-family: 'Ambit', sans-serif;
}

.social-icon-svg {
    width: 32px;
    height: 32px;
}