.hero-container {
  background: #F9F4F6;
  display: flex;
  padding: 0 8vw;
  height: 87vh;
}

.hero-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 4vw;
  object-fit: cover;
}

.hero-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.hero-cake {
  width: 100%;
  border-radius: 2px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.hero-title {
  font-family: 'Marhey', sans-serif;          
  color: #272727;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 2vw;
  display: flex;
  object-fit: cover;
}

.hero-description {
  font-family: 'Ambit', sans-serif;      
  color: #272727;
  margin-bottom: 3vw;
  display: flex;
  object-fit: cover;
}

.hero-button-container {
  height:60px;
  width: 200px;
  border-radius: 5px;
  background-color: #272727;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  display: flex;
  box-shadow: 0px 0px 15px rgba(59, 24, 25, 0.6);
}

.hero-button-text {
  font-family: 'Marhey', sans-serif;      
  color: #FFFFFF;
  cursor: pointer;
  margin: 0 0;
}


@media screen and (max-width: 1024px) {
  .hero-container{
    flex-direction: column;
    padding: 2vw 11vw;
    padding-top: 5vw;
    height: auto;
    justify-content: flex-end;
    
  }

  .hero-title {
    font-size: 8.3vw;
    margin-bottom: 5vw;
    width: 100%;
    
  }

  .hero-description {
    font-size: 3.5vw;
    margin-bottom: 8vw;
    margin-right: 3vw;
  }

  .hero-button-container {
    height: 14vw;
    width: 46vw;
  }

  .hero-cake {
    height: 50%;
    display: flex;
    justify-content: space-around;
    width: 120%;
    object-fit: cover;
  }

  .hero-left {
    width: 100%;
    padding: 0;
    object-fit: cover;
  }

  .hero-right {
    display: flex;
    justify-content: center;
    padding-top: 15vw;
    width: 100%;
    margin-bottom: 16vw;
    object-fit: cover;
  }

  .hero-button-text {
    font-size: 4vw;

  }
}