.mission-container{
    display:flex;
    width:fit-content;
    justify-content: space-between;
    height: auto;
}

.left-mission {
    width: 70%;  
    background-color:ghostwhite;  
    margin: 1vw;
}

.assets {
    margin: 1vw;
}


.mission-article{
    display:block;
    margin: 1vw 5vw;
    align-content: center;
}

.left-mission h1 {
    font-family: 'Marhey', sans-serif;   
    display: flex;
    justify-content: center;
    font-size:xx-large;
    position: static;
}

.right-mission h1 {
    padding: 1vw 1vw;
    font-family: 'Marhey', sans-serif;   
    display: flex;
    justify-content: center;
    font-size:large;
    object-fit: cover;
    position: static;
    background-color: aquamarine;
}

.left-mission h2,h3 {
    font-family: 'Marhey', sans-serif;   
}

p {
    margin-top: 1vw;
    font-family: 'Ambit', sans-serif;
    justify-content: center;
}



.assets {
    display: flex;
    justify-content: center;
    object-fit: cover;
    max-width: 95%;
    height: auto;
    padding-top: 2vw;
}

.right-mission {
    width: 30%;
    background-color: ghostwhite;
    margin: 1vw 1vw;
    overflow: hidden; /* Menyembunyikan bagian yang melebihi container */
    text-align: center;
}

.aside-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 15vw;
}

.article-advertise {
    flex: 0 0 33.33%; /* Setiap item slide mengambil 33.33% lebar container */
    box-sizing: border-box;
    padding: 0 10px; /* Padding untuk menghindari teks berdekatan dengan tepi */
}

.aside-desc {
  display: flex;
  justify-content: center;
  text-align: center;
}


.prev,
.next {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.advertisement {
  display: flex;
  flex-direction: column;
}

.add {
  padding-top: 1vw;
  padding-bottom: 10vw;
  display: flex;
}

.add-title{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: aquamarine;
  text-wrap:wrap;
}

@media screen and (max-width: 1024px) {
    .aside-info {
      flex-direction: column;
    }
  
    .prev,
    .next {
      top: 0;
      bottom: 0;
      margin: auto;
      height: 50px;
    }
  
    .prev {
      left: 0;
      border-radius: 3px 3px 0 0;
    }
  
    .next {
      right: 0;
      border-radius: 0 0 3px 3px;
    }
  }