.mission-container{
    display:flex;
    width:fit-content;
    justify-content: space-between;
}

.left-mission {
    width: 70%;  
    background-color:ghostwhite;  
    margin: 1vw;
    
}

.assets{
    padding: 1vw;
}

.right-mission {
    width: 30%;
    background-color:ghostwhite;  
    margin: 1vw 1vw;

}

.mission-article{
    display:block;
    margin: 5vw 5vw;
    align-content: center;
}

.left-mission h1 {
    font-family: 'Marhey', sans-serif;   
    display: flex;
    justify-content: center;
    font-size:xx-large;
}

.right-mission h1 {
    font-family: 'Marhey', sans-serif;   
    display: flex;
    justify-content: center;
    font-size:large;
    object-fit: cover;
}

.left-mission h2,h3 {
    font-family: 'Marhey', sans-serif;   
}

p {
    font-family: 'Ambit', sans-serif;
    justify-content: center;
}

.aside-info {
    justify-content: center;
}


@media screen and (max-width: 1024px){
    
}