
.navbar-container {
  position: flex;
  width: 80%;
  padding:  1vw 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #B8B8FF;
}

.navbar-logo {
  height: 55px;
}

.navbar-text {
  font-family: 'Ambit', sans-serif;      
  margin-left: 2.8vw;
  font-size: 1.1rem;
  cursor: pointer;
  color: #272727;
  transition: color 0.3s;
  font-weight: 600;
}

.navbar-mobile-menu {
  display: none;
}

.navbar-mobile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #272727;
  background-color: #B8B8FF;
  padding: 0.95rem;
  position: absolute;
  top: 20vw;
  left: 1vw;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
  width: 90%;
}


@media screen and (max-width: 1024px) {
  .navbar-mobile-menu {
    display: flex;
  }

  .navbar-right {
    display: none;
  }

  .navbar-container {
    padding: 2vw 11vw;

  }

  .navbar-text {
    color: rgb(255, 255, 255);
  }

  .navbar-container {
    padding:  4vw 10vw;
  }

  .navbar-mobile-container {
    padding: 4vw;
    position: absolute;
  }

  .navbar-text {
    padding-bottom: 1vw;
    font-size: 4vw;
    color: #272727;
  }
  
  .navbar-logo {
    height: 14vw;
    max-height: 80px;
  }
}